.codeContainer {
    overflow-x: scroll;
    padding: 0 1em;
}

.instructionImg {
    width: 300px;
}

.docContainer {
    margin: 2em 3em;
}

.listNumber {
    font-weight: 700;
    font-size: 1.25em;
}

.headline {
    margin: auto;
    text-align: center;
}

.createAccountBtn {
    margin: 1em;
}

@media screen and (max-width: 600px) {
    .instructionImg {
        width: 100%;
    }
}
