.codeContainer {
    overflow-x: scroll;
    padding: 0 1em;
}

.accountInfoContainer {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 5em;
}

.deleteIcon:hover {
    cursor: pointer;
}

.subscriptions {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.supportSection {
    text-align: center;
    margin-top: 2em;
}

@media screen and (max-width: 800px) {
    .codeContainer {
        margin-top: 2em;
    }
}
