.textWhite {
    color: #ffff;
}

.iconWidth {
    width: 100px;
}

.smallIcon {
    width: 50px;
}

.features {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.featureName {
    font-weight: 300;
}

.steps {
    text-align: center;
}

.steps h2 {
    font-weight: 300;
}

.header {
    display: flex;
    align-items: center;
}

.headerImg {
    width: 70%;
    min-height: 400px;
}

.videoOne {
    width: 25%;
    margin: 1em;
    box-shadow: 5px 8px 24px 5px rgba(208, 216, 243, 0.6);
}

.videoTwo {
    width: 70%;
    margin: 1em;
    box-shadow: 5px 8px 24px 5px rgba(208, 216, 243, 0.6);
}

.videoSection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contactUs {
    text-align: center;
    margin: 1em 0 2em;
    padding-bottom: 3em;
}

@media only screen and (max-width: 850px) {
    .header {
        flex-wrap: wrap-reverse;
    }

    .headerImg {
        width: 100%;
    }

    .features {
        display: block;
    }
}
